{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/\u003cTEST_CLASSROOM_STUDENT_GITHUB_ID\u003e/repos?page=1\u0026per_page=10\u0026sort=updated","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token \u003cTEST_CLASSROOM_STUDENT_GITHUB_TOKEN\u003e"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4487"], "X-Ratelimit-Reset":["1464292468"], "Etag":["\"862e0a0e608ff44a7feeea2430bd5608\""], "X-Oauth-Scopes":["admin:org, user:email"], "X-Accepted-Oauth-Scopes":[""], "X-Oauth-Client-Id":["\u003cTEST_APPLICATION_GITHUB_CLIENT_ID\u003e"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Thu, 26 May 2016 19:20:44 GMT"},{"request":{"method":"get","uri":"https://api.github.com/user/repos?per_page=100","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token \u003cTEST_CLASSROOM_STUDENT_GITHUB_TOKEN\u003e"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4486"], "X-Ratelimit-Reset":["1464292468"], "Etag":["\"862e0a0e608ff44a7feeea2430bd5608\""], "X-Oauth-Scopes":["admin:org, user:email"], "X-Accepted-Oauth-Scopes":[""], "X-Oauth-Client-Id":["\u003cTEST_APPLICATION_GITHUB_CLIENT_ID\u003e"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Thu, 26 May 2016 19:20:45 GMT"}],"recorded_with":"VCR 3.0.3"}