{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/applications/\u003cTEST_APPLICATION_GITHUB_CLIENT_ID\u003e/tokens/\u003cTEST_CLASSROOM_OWNER_GITHUB_TOKEN\u003e","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4999"], "X-Ratelimit-Reset":["1566506052"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzL29hdXRoX2F1dGhvcml6\nYXRpb25zLyNjaGVjay1hbi1hdXRob3JpemF0aW9uIn0=\n"},"http_version":null},"recorded_at":"Thu, 22 Aug 2019 19:34:12 GMT"}],"recorded_with":"VCR 3.0.3"}