<%= form_tag import_from_google_classroom_roster_path, method: :patch, id: "google_classroom_import" do |f| %>
  <% if courses.any? %>
    <% courses.each_with_index do |course, i| %>
      <li class="Box-row">
        <label>
          <%= radio_button_tag "course_id", course.id, i==0, 'aria-describedby':"help-text-for-checkbox", class:"mr-2" %>
          <%= course.name %>
        </label>
      </li>
    <% end %>
  <% else %>
    <div class="blankslate blankslate-capped">
      <h3>We couldn't find any matching schools</h3>
    </div>
  <% end %>
<% end %>
