<div class="remodal text-left" data-remodal-id="link-to-google-classroom-modal">
  <button data-remodal-action="close" class="remodal-close"><%= octicon 'x' %></button>
  <h2 class="remodal-header text-left">Select Google Classroom</h2>
  <div class="overflow-auto">
    <div class="Box-body overflow-auto">
      <ul>
        <% google_classroom_courses.each do |course| %>
          <li class="Box-row">
            <%= link_to course.name, {controller: "rosters", action: :import_from_google_classroom, course_id: course.id}, method: :patch %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
