<% view = FormView.new(subject: @roster) %>

<div class="site-content">
  <div class="site-content-cap">
    <h1 class="site-content-heading">Add students</h1>
  </div>

  <div class="site-content-body">
    <div class="markdown-body">
      <p>Let's set up a roster so you can easily track student progress on your dashboard. You can always come back and complete this step later.</p>
    </div>

    <div class="my-3">
      <h2 class="h3 mb-2">Select the Google Classroom roster you want to import</h2>
    </div>

    <div class="Box overflow-auto">
      <ul>
        <% @google_classroom_courses.each do |course| %>
          <li class="Box-row">
            <label>
              <input type="checkbox" class="mr-2" checked="checked" aria-describedby="help-text-for-checkbox">
              <%= course.name %>
              <%# <%= link_to course.name, {controller: "rosters", action: :import_from_google_classroom, course_id: course.id}, method: :patch %>
            </label>
          </li>
        <% end %>
      </ul>
    </div>

    <a class="btn btn-secondary mt-4">Manually add students</a>

    <div class="form-actions border-top-0">
          <%= submit_tag 'Create roster', class: 'btn btn-primary right' %>
          <%= link_to 'Skip', organization_path(current_organization), class: 'btn btn-secondary right' %>
        </div>
  </div>
</div>
