{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/organizations/1","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token \u003cTEST_CLASSROOM_OWNER_GITHUB_TOKEN\u003e"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4804"], "X-Ratelimit-Reset":["1459745605"], "X-Oauth-Scopes":["admin:org, delete_repo, repo, user:email"], "X-Accepted-Oauth-Scopes":["repo"], "X-Oauth-Client-Id":["\u003cTEST_APPLICATION_GITHUB_CLIENT_ID\u003e"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Mon, 04 Apr 2016 04:04:23 GMT"},{"request":{"method":"get","uri":"https://api.github.com/organizations/1?client_id=\u003cTEST_APPLICATION_GITHUB_CLIENT_ID\u003e\u0026client_secret=5103570d995f6269bfbcf1407acbdb49e239bca3","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4990"], "X-Ratelimit-Reset":["1459745750"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Mon, 04 Apr 2016 04:04:23 GMT"}],"recorded_with":"VCR 3.0.1"}