{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/teams/45","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token \u003c\u003cOWNER_ACCESS_TOKEN\u003e\u003e"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4950"], "X-Ratelimit-Reset":["1435980591"], "X-Oauth-Scopes":["admin:org, repo, user"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Sat, 04 Jul 2015 03:21:35 GMT"}],"recorded_with":"VCR 2.9.3"}