{"http_interactions":[{"request":{"method":"delete","uri":"https://api.github.com/teams/45","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token \u003cCLASSROOM_OWNER_ACCESS_TOKEN\u003e"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4613"], "X-Ratelimit-Reset":["1437405876"], "X-Oauth-Scopes":["admin:org, delete_repo, repo, user:email"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Oauth-Client-Id":["7a28f88859b028d91507"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Mon, 20 Jul 2015 15:01:31 GMT"}],"recorded_with":"VCR 2.9.3"}