{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repositories/8485","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4988"], "X-Ratelimit-Reset":["1539194361"], "X-Oauth-Scopes":["admin:org, admin:org_hook, delete_repo, repo, user:email"], "X-Accepted-Oauth-Scopes":["repo"], "X-Oauth-Client-Id":["\u003cTEST_APPLICATION_GITHUB_CLIENT_ID\u003e"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzL3JlcG9zLyNnZXQifQ==\n"},"http_version":null},"recorded_at":"Wed, 10 Oct 2018 17:10:47 GMT"},{"request":{"method":"get","uri":"https://api.github.com/repositories/8485?client_id=\u003cTEST_APPLICATION_GITHUB_CLIENT_ID\u003e\u0026client_secret=\u003cTEST_APPLICATION_GITHUB_CLIENT_SECRET\u003e","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4990"], "X-Ratelimit-Reset":["1539194361"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzL3JlcG9zLyNnZXQifQ==\n"},"http_version":null},"recorded_at":"Wed, 10 Oct 2018 17:10:47 GMT"}],"recorded_with":"VCR 3.0.3"}