<div class="team-panel">
  <div class="team-info">
    <a class="right btn btn-sm" href="#">
      Manage
    </a>
    <span class="team-name" itemprop="name"><%= group.title %></span>
    <span class="team-description" itemprop="description"><%= pluralize(group.repo_accesses.count, 'student') %></span>
  </div>
  <div class="team-members">
    <ul>
      <% group.repo_accesses.each do |repo_access| %>
        <% student = repo_access.user %>
        <div class="member-draggable">
          <%= link_to student.github_user.html_url, class: "tooltipped tooltipped-s", 'aria-label' => student.github_user.login do %>
            <%= image_tag student.github_user.github_avatar_url(60), class: 'avatar avatar-small ', height: 30, width: 30, alt: "@#{student.github_user.login}" %>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
