<%= render 'organizations/organization_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading"><%= @grouping.title %></h2>
  </div>

  <div class="site-content-body">
    <% if @grouping.groups.present? %>
      <div class="team-grid">

        <%= render partial: "group", collection: @grouping.groups %>

        <div style="clear:both"></div>
      </div>
    <% else %>
      <div class="blankslate">
        <h3>"<%= @grouping.title %>" does not have any teams.</h3>
        <p>Share group assignment invitation links with your students to get started.</p>
      </div>
    <% end %>
  </div>
</div>
