<div class="remodal-bg">
  <%= render 'organizations/organization_banner' %>

  <div class="columns">
    <div class="one-fourth column">
      <%= render partial: 'organizations/side_menu' %>
    </div>
    <div class="three-fourths column">

      <div class="team-grid">

        <%= render partial: "group", collection: @grouping.groups %>

        <div style="clear:both"></div>
      </div>

    </div>
  </div>
</div>