<div class="remodal-bg">
  <%= render 'organizations/organization_banner' %>

  <div class="columns">
    <div class="one-fourth column">
      <%= render partial: 'organizations/side_menu' %>
    </div>
    <div class="three-fourths column">

      <div class="boxed-group">
        <h3>Teams</h3>
        <div class="boxed-group-inner clearfix">

        </div>
      </div>

    </div>
  </div>
</div>