<div class="assignment-list-item container-lg clearfix">
  <div class="float-left col-sm-6 d-flex">
    <div class="d-flex flex-column flex-justify-center flex-items-center flex-md-items-start">
      <span class="assignment-icon assignment-icon-individual left">
        <%= octicon 'person', height: 22 %>
      </span>
    </div>

    <div class="flex-column">
      <h3 class="assignment-name-link">
        <%= link_to assignment.title, organization_assignment_path(current_organization, assignment) %>
      </h3>

      <p class="assignment-type text-gray">Individual assignment</p>
    </div>
  </div>

  <div class="float-right col-sm-6 d-flex clipboard-form">
    <div class="flex-self-center input-group assignment-invite-link">
      <%= render partial: "shared/invitations/clipboard_form", locals: InvitationHelper.attributes(assignment.invitation, request.base_url) %>
    </div>
  </div>
</div>
