<div class="tabnav assignment-nav mb-0">
  <nav class="tabnav-tabs" aria-label="Assignment menu">
    <%= link_to organization_assignment_path(organization, assignment), class: "tabnav-tab #{'selected' if current_page?(organization_assignment_path(organization))}" do %>
      <%= octicon 'repo', class: 'mr-1' %>
      Repositories
    <% end %>
    <%= link_to edit_organization_assignment_path(organization, assignment), class: "tabnav-tab #{'selected' if current_page?(edit_organization_assignment_path(organization))}" do %>
      <%= octicon 'gear', class: 'mr-1' %>
      Assignment settings
    <% end %>
  </nav>
</div>