<%= render 'organizations/organization_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-individual">
        <%= octicon('person') %>
      </span>
      <%= @assignment.title %>
    </h2>
  </div>

  <div class="site-content-body">
    <%= render @assignment.assignment_invitation %>
  </div>
</div>
