<div class="remodal-bg">
  <%= render 'organizations/organization_banner' %>

  <div class="columns">
    <div class="one-fourth column">
      <%= render partial: 'organizations/side_menu' %>
    </div>
    <div class="three-fourths column">
      <div class="site-content">
        <div class="site-content-cap">
          <h2 class="site-content-heading">Edit LMS Configuration</h2>
        </div>

        <div class="site-content-body markdown-body">
          <%= render partial: "orgs/lti_configurations/form", locals: {
            allow_cancel: true,
            model: @current_lti_configuration,
            method: :patch
          } %>
        </div>
      </div>
    </div>
  </div>
</div>
