<% organization = @organization || current_organization %>

<div class="remodal-bg">
  <%= render 'organizations/organization_banner' %>

  <div class="columns">
    <div class="one-fourth column">
      <%= render partial: 'organizations/side_menu' %>
    </div>
    <div class="three-fourths column">
      <div class="site-content">
        <div class="site-content-cap">
          <h2 class="site-content-heading">Link classrom to LMS</h2>
        </div>

        <div class="site-content-body markdown-body">
          <p>Connecting GitHub Classroom to your Learning Management System (LMS) will allow you to manage your students and submissions easier!</p>
          <h3>What the LMS Integration Can Do</h3>
          <ul>
            <li>Sync rosters with Classroom and LMS</li>
            <li>Create assignments from Classroom create one on the LMS</li>
            <li>Sync submissions with Classroom and LMS</li>
          </ul>

          <h3>What you will from the LMS</h3>
          <ul>
            <li>Consumer Key</li>
            <li>Shared secret</li>
            <li>Link to the LMS classroom page</li>
          </ul>

          <%= link_to "Connect to LMS", lti_configuration_path(organization), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
