<div class="assignment-list-item container-lg clearfix">
  <div class="float-left col-sm-6 d-flex">
    <div class="d-flex flex-column flex-justify-center flex-items-center flex-md-items-start">
      <span class="group-assignment-icon assignment-icon-group left">
        <%= octicon 'organization', height: 22 %>
      </span>
    </div>

    <div class="flex-column">
      <h3 class="assignment-name-link">
        <%= link_to group_assignment.title, organization_group_assignment_path(current_organization, group_assignment) %>
      </h3>
      <p class="assignment-type text-gray">Group assignment for <strong><%= group_assignment.grouping.title %></strong></p>
    </div>
  </div>

  <div class="float-left col-sm-6 d-flex clipboard-form">
    <div class="flex-self-center input-group assignment-invite-link">
      <%= render partial: "shared/invitations/clipboard_form", locals: InvitationHelper.attributes(group_assignment.invitation, request.base_url) %>
    </div>
  </div>
</div>
