<h2 class="page-header">
  <%= link_to @organization.title, @organization %> / <%= link_to @group_assignment.title, organization_group_assignment_path(@organization, @group_assignment) %>
</h2>

<div class="columns">
  <div class="one-half column centered">
    <%= render @group_assignment.group_assignment_invitation %>
  </div>
</div>
