<%= render 'organizations/organization_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-group">
        <%= octicon('organization') %>
      </span>
      <%= @group_assignment.title %>
    </h2>
  </div>

  <div class="site-content-body">
    <%= render @group_assignment.group_assignment_invitation %>
  </div>
</div>
