<% view = RosterEntry::ShowView.new(roster_entry: roster_entry) %>

<div class="assignment-list-item d-flex col-12">
  <div class="col-6 d-flex">
    <div class="d-flex flex-column flex-justify-center flex-items-center flex-md-items-start">
      <span class="assignment-icon assignment-icon-individual left">
        <%= octicon 'person', height: 22 %>
        <% # This should be the avatar if they're linked %>
      </span>
    </div>

    <div class="flex-column">
      <h3 class="assignment-name-link">
        <%= view.identifier %>
      </h3>

      <p class="assignment-type text-gray"><%= view.github_handle_text %></p>
    </div>
  </div>

  <div class="d-flex right-button">
    <div class="flex-self-center input-group ">
      <%= button_tag view.button_text, class: "btn btn-outline"%>
    </div>
  </div>
</div>
