<nav class="menu">
  <span class="menu-heading"><%= octicon('rocket') %> Stafftools</span>
  <%= link_to stafftools_root_path, class: 'menu-item selected' do %>
    <%= octicon('search') %>
    Search
  <% end %>
</nav>
