<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading"><%= @note.title %></h2>
  </div>

  <div class="site-content-body">
    <div class="markdown-body">
      <%= @note.html %>
    </div>
  </div>
</div>
