<div class="flex-table classroom-resource">
  <div class="flex-table-item">
    <span class="assignment-icon assignment-icon-group left">
      <%= octicon('organization') %>
    </span>

    <div class="student-information">
      <%= link_to stafftools_group_path(group.id) do %>
        <strong class="css-truncate-target login"><%= group.title %></strong>
      <% end %>
    </div>

    <span class="text-muted css-truncate css-truncate-target">Created <%= local_time_ago(group.created_at) %></span>
  </div>
</div>
