<strong>
  <span data-defer-to="<%= view.defer_key %>-workers"></span> /
  <span data-defer-to="<%= view.defer_key %>-queued"></span> /
</strong> <%= defined?(stafftools_sidekiq_web_path) ? link_to('sidekiq', stafftools_sidekiq_web_path) : "sidekiq" %>
