<strong>
  <span data-defer-to="<%= view.defer_key %>-workers"></span> /
  <span data-defer-to="<%= view.defer_key %>-queued"></span> /
</strong> <%= defined?(sidekiq_web_path) ? link_to("sidekiq", sidekiq_web_path) : "sidekiq" %>
