<strong>
  <span data-defer-to="<%= view.defer_key %>-workers"></span> /
  <span data-defer-to="<%= view.defer_key %>-queued"></span> /
  <span data-defer-to="<%= view.defer_key %>-processed"></span>
</strong> <%= link_to 'sidekiq', sidekiq_web_path, target: '_blank' %>
