{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/organizations/12345","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["401 Unauthorized"], "X-Github-Media-Type":["github.v3; format=json"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["59"], "X-Ratelimit-Reset":["1532500691"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiQmFkIGNyZWRlbnRpYWxzIiwiZG9jdW1lbnRhdGlvbl91\ncmwiOiJodHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Wed, 25 Jul 2018 05:38:11 GMT"},{"request":{"method":"get","uri":"https://api.github.com/organizations/12345?client_id=\u003cTEST_APPLICATION_GITHUB_CLIENT_ID\u003e\u0026client_secret=\u003cTEST_APPLICATION_GITHUB_CLIENT_SECRET\u003e","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Ratelimit-Reset":["1532500691"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzL29yZ3MvI2dldC1hbi1v\ncmdhbml6YXRpb24ifQ==\n"},"http_version":null},"recorded_at":"Wed, 25 Jul 2018 05:38:11 GMT"},{"request":{"method":"delete","uri":"https://api.github.com/organizations/12345/hooks/9999999","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["401 Unauthorized"], "X-Github-Media-Type":["github.v3; format=json"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["57"], "X-Ratelimit-Reset":["1532500691"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiQmFkIGNyZWRlbnRpYWxzIiwiZG9jdW1lbnRhdGlvbl91\ncmwiOiJodHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Wed, 25 Jul 2018 05:38:11 GMT"}],"recorded_with":"VCR 3.0.3"}