{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/teams/8675309","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token \u003cTEST_CLASSROOM_OWNER_GITHUB_TOKEN\u003e"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4977"], "X-Ratelimit-Reset":["1460129823"], "X-Oauth-Scopes":["admin:org, delete_repo, repo, user:email"], "X-Accepted-Oauth-Scopes":["admin:org, read:org, repo, user, write:org"], "X-Oauth-Client-Id":["\u003cTEST_APPLICATION_GITHUB_CLIENT_ID\u003e"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Fri, 08 Apr 2016 15:25:57 GMT"},{"request":{"method":"get","uri":"https://api.github.com/teams/8675309?client_id=\u003cTEST_APPLICATION_GITHUB_CLIENT_ID\u003e\u0026client_secret=\u003cTEST_APPLICATION_GITHUB_CLIENT_SECRET\u003e","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Ratelimit-Reset":["1460132608"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Fri, 08 Apr 2016 15:25:57 GMT"}],"recorded_with":"VCR 3.0.1"}