{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/teams/1501923/repos/tarebytetestorg/notateamrepository","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token \u003c\u003cACCESS_TOKEN\u003e\u003e"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4999"], "X-Ratelimit-Reset":["1434391397"], "X-Oauth-Scopes":["admin:org, repo, user"], "X-Accepted-Oauth-Scopes":["admin:org, read:org, repo, user, write:org"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIiwiZG9jdW1lbnRhdGlvbl91cmwiOiJo\ndHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Mon, 15 Jun 2015 17:03:17 GMT"}],"recorded_with":"VCR 2.9.3"}