<div class="form-checkbox">
  <%= octicon 'organization', height: 22 %>
  <label><%= radio_button 'group', 'id', 1 %> <%= t('views.groups.public') %></label>
  <span class="note"><%= t('views.groups.you_choose_who_can_commit') %></span>
</div>
