<div class="form-checkbox">
  <%= octicon 'organization', height: 22 %>
  <label><%= radio_button 'group', 'id', 1 %> Public</label>
  <span class="note">Anyone can see this repository. You choose who can commit.</span>
</div>
