<h1 class="page-header">Dashboard</h1>
<div class="columns">
  <div class="three-fourths column">
    <% if @organizations.present? %>
      <% @organizations.each do |org| %>
        org.login
      <% end %>
    <% else %>
      <div class="blankslate">
        <span class="mega-octicon octicon-git-commit"></span>
        <span class="mega-octicon octicon-tag"></span>
        <span class="mega-octicon octicon-git-branch"></span>
        <h3>This is a blank slate</h3>
        <p>Use it to provide information when no dynamic content exists.</p>
      </div>
    <% end %>
  </div>

  <div class="one-fourth column">
    <%= link_to 'Add Your Classroom', new_organization_path, class: 'btn btn-primary classroom-btn right', role: 'button' %>
  </div>
</div>
