<div class="columns">
  <% if @organizations.present? %>
    <div class="one-fourth column">
      <%= link_to new_organization_path, class: 'btn btn-green', role: 'button' do %>
        Add organization
      <% end %>
    </div>

    <div class="three-fourths column">
      <%= render @organizations %>
      <%= paginate @organizations %>
    <% else %>
      <div class="blankslate large-format spacious">
        <h3>You’re not managing any organizations with GitHub for Classrooms.</h3>
        <p>You can begin creating assignments once you have at least one organization.</p>

        <%= link_to new_organization_path, class: 'btn btn-green btn-big', role: 'button' do %>
          Add your first organization
        <% end %>
      </div>
    <% end %>
  </div>
</div>
