{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user/memberships/orgs/education","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token \u003cCLASSROOM_OWNER_ACCESS_TOKEN\u003e"]}},"response":{"status":{"code":403,"message":"Forbidden"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["403 Forbidden"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4805"], "X-Ratelimit-Reset":["1438117626"], "X-Oauth-Scopes":["admin:org, delete_repo, repo, user:email"], "X-Accepted-Oauth-Scopes":["admin:org, read:org, repo, user, write:org"], "X-Oauth-Client-Id":["7a28f88859b028d91507"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJtZXNzYWdlIjoiWW91IGRvIG5vdCBoYXZlIGFjY2VzcyB0byB0aGlzIG9y\nZ2FuaXphdGlvbiBtZW1iZXJzaGlwLiIsImRvY3VtZW50YXRpb25fdXJsIjoi\naHR0cHM6Ly9kZXZlbG9wZXIuZ2l0aHViLmNvbS92MyJ9\n"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 20:30:02 GMT"}],"recorded_with":"VCR 2.9.3"}