<% flash.each do |type, message| %>
  <div class="flash-application container-lg">
    <%= content_tag :div, class: "flash #{primer_class_for(type)}" do %>
      <span class="flash-close js-flash-close">
        <%= octicon('x') %>
      </span>
      <%= sanitize(message) %>
    <% end %>
  </div>
<% end %>
