<footer class="site-footer">
  <div class="container">
    <div class="columns">
      <div class="one-half column centered text-center">
        <%= link_to(image_tag('made_with_love@2x.png', :class => 'made-by-logo', :alt => 'Made by GitHub Education'), 'https://education.github.com') %>
      </div>
    </div>
  </div>
</footer>
