<footer class="site-footer text-center">
  <div class="container">
    <%= link_to(image_tag('made_with_love@2x.png', height: 26, :class => 'made-by-logo', :alt => 'Made by GitHub Education'), 'https://education.github.com') %>
  </div>
  Classroom is <%= link_to 'open source', 'https://github.com/education/classroom' %>
</footer>
