<footer class="site-footer text-center">
  <div class="container">
    <div class="made-with-heart">
      <%= octicon 'mortar-board' %> with <%= octicon 'heart' %> by <%= link_to octicon('logo-github'), 'https://education.github.com' %>
    </div>
  </div>
  GitHub Classroom is <%= link_to 'open source', 'https://github.com/education/classroom' %>.
</footer>
