<footer class="site-footer text-center">
  <div class="container">
    <div class="made-with-heart">
      <%= raw I18n.t("views.shared._footer.with_love_by_github", octicon_mortar_board: octicon('mortar-board'),
      octicon_heart: octicon('heart'), href: link_to(octicon('logo-github'), 'https://education.github.com')) %>
    </div>
  </div>
  <%= raw t("views.shared._footer.classroom_is_open_source",
  href: link_to(t("views.shared._footer.open_source_href"), 'https://github.com/education/classroom')) %>
</footer>
