<footer class="site-footer text-center">
  <div class="container">
    <div class="made-with-heart">
      <span class="octicon octicon-mortar-board"></span> with <span class="octicon octicon-heart"></span> by <a href="https://education.github.com" class="octicon octicon-logo-github"></a>
    </div>
  </div>
  <div class="github-buttons">
    <iframe class="star" src="https://ghbtns.com/github-btn.html?user=education&repo=classroom&type=star&count=true" frameborder="0" scrolling="0"></iframe>
    <iframe class="watch" src="https://ghbtns.com/github-btn.html?user=education&repo=classroom&type=watch&count=true&v=2" frameborder="0" scrolling="0"></iframe>
  </div>
  GitHub Classroom is <%= link_to 'open source', 'https://github.com/education/classroom' %>.
</footer>
