<footer class="site-footer text-center">
  <div class="container">
    <div class="made-with-heart">
      <span class="octicon octicon-mortar-board"></span> with <span class="octicon octicon-heart"></span> by <a href="https://education.github.com" class="octicon octicon-logo-github"></a>
    </div>
  </div>
  GitHub Classroom is <%= link_to 'open source', 'https://github.com/education/classroom' %>.
</footer>
