<iframe id="js-hidden-iframe" src="about:blank" style="display:none"></iframe>
<div class="mt-3 pr-2">
  <details class="dropdown details-reset details-overlay d-inline-block">
    <summary id="js-download-repos-btn" class="btn" aria-haspopup="true">
      Download Repositories
      <div class="dropdown-caret"></div>
    </summary>

    <div class="dropdown-menu dropdown-menu-sw desktop-modal-dropdown-menu">
      <div id="js-modal-download-repos">
        <div class="py-2 px-3">
            <h4 class="mb-3">Download Student Repositories</h4>
            <p class="text-gray mb-0">Open Assignment in Classroom-Desktop to clone student submissions.</p>
        </div>
        <a id="js-desktop-open-btn" href="<%= desktop_url %>" class="btn btn-outline desktop-modal-btn tooltipped tooltipped-s mt-2 text-center" aria-label="Open Assignment in Classroom-Desktop">
          Open in Classroom Desktop
        </a>
      </div>

      <div id="js-modal-launching" class="py-2 px-3" style="display:none">
        <h4 class="mb-3 loading">Launching Classroom Desktop</h4>
        <p class="text-gray">If nothing happens, <a href="http://classroom.github.com/desktop">download Classroom Desktop</a> and try again.</p>
      </div>
    </div>
  </details>
</div>