<% if collection.next_page || collection.prev_page %>
  <div class="paginate-container container">
    <%= paginate collection, param_name: (local_assigns[:param_name] || :page) %>
  </div>
<% end %>
