<div class="one-third column" style="border: 1px solid #e3e3e3">
  <p class="text-emphasized">Unlimited free private repositories</p>
  <p class="text-muted">If you have not already, you may apply for unlimited free private repositories for this classroom organization <a href="https://education.github.com/discount_requests/new">here</a>.</p>
</div>
