<aside class="Box">
  <div class="Box-body">
    <h2 class="h4 mb-2">Unlimited free private repositories</h2>
    <p class="text-gray">If you have not already, you may apply for unlimited free private repositories for this classroom organization <a href="https://education.github.com/discount_requests/new">here</a>.</p>
  </div>
</aside>
