<% unless resources.nil? %>
  <% any_results = resources.any? {|k, v| v.any? } %>
  <% if any_results %>
    <% resources.each do |name, resources| %>
      <% next unless resources.any? %>

      <h4><%= name %></h4>

      <ul class="classroom-resources">
        <% resources.each do |resource| %>
          <%= render_stafftools_resource(resource) %>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <div class="blankslate">
      <%= octicon 'search', height: 22 %>
      <h3>We couldn't find any matching resources</h3>
    </div>
  <% end %>
<% end %>
