<% if resources.total_count > 0 %>
  <% resources.each do |resource| %>
    <%= render_stafftools_resource(resource) %>
  <% end %>

  <%= render partial: 'shared/pagination', locals: { collection: resources } %>
<% else %>
  <div class="blankslate">
    <%= mega_octicon('search') %>
    <h3>We couldn't find any matching resources</h3>
  </div>
<% end %>
