<% if resources.total_count > 0 %>
  <% resources_array = resources.to_a %>

  <% resources_array.each_with_index do |resource, index| %>
    <%= render_stafftools_resource_header(resource, resources_array[index - 1]) %>
    <%= render_stafftools_resource(resource) %>
  <% end %>

  <%= render partial: 'shared/pagination', locals: { collection: resources } %>
<% else %>
  <div class="blankslate">
    <%= mega_octicon('search') %>
    <h3>We couldn't find any matching resources</h3>
  </div>
<% end %>
