<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">Search</h2>
  </div>

  <div class="site-content-body">
    <%= form_tag stafftools_resource_search_path, id: 'js-search-form', method: :get, remote: true do %>
      <%= text_field_tag :query, params[:query], class: 'input-block form-control', placeholder: 'Search Classroom...', autofocus: true %>
    <% end %>

    <div class="search-results" id="js-search-results">
      <%= render partial: 'stafftools/resources/search_results', locals: { resources: @resources } %>
    </div>
  </div>
</div>
