<div class="remodal text-left" data-remodal-id="impersonate-user">
  <button data-remodal-action="close" class="remodal-close"><%= octicon('x') %></button>
  <h2 class="remodal-header">Are you ABSOLUTELY sure?</h2>

  <div class="remodal-warning">
    Unexpected things will happen if you don't read this!
  </div>

  <div class="remodal-description">
    <p>
    </p>
  </div>

  <%= form_for @user, url: impersonate_stafftools_user_path, html: { "data-name" => @user.login } do |f| %>
    <dl class="form js-normalize-submit">
      <dt>Please type the login of the user to confirm</dt>
      <dd><input type="text" class="js-input-block"></dd>
    </dl>

    <%= f.submit "Impersonate @#{user.login}", class: 'btn btn-danger btn-block js-navigation js-submit', disabled: true %>
  <% end %>
</div>
