<div class="site-content">
  <div class="site-content-cap">
    <div class="flex-table">
      <div class="flex-table-item">
        <span class="assignment-icon assignment-icon-individual left">
          <%= octicon('person') %>
        </span>

        <h2 class="site-content-heading">Users</h2>
        <!-- <p class="assignment&#45;type text&#45;muted">Excercise good judgement</p> -->
      </div>
    </div>
  </div>

  <div class="site-content-body">
    <%= form_tag search_stafftools_users_path, id: 'js-search-form', method: :get, remote: true do %>
      <%= text_field_tag :query, params[:query], class: 'input-block', placeholder: 'Find a user...' %>
    <% end %>

    <div class="classroom-users" id="js-search-results">
      <%= render partial: 'stafftools/users/users', locals: { users: @users } %>
    </div>
  </div>
</div>

