<a class="mx-1 my-3 f3 btn btn-large btn-white" href="https://classroom.github.com/assistant/download/mac" data-for-os="mac" data-download="mac">Download for macOS</a>
<a class="mx-1 my-3 f3 btn btn-large btn-white" href="https://classroom.github.com/assistant/download/win" data-for-os="windows" data-download="windows">Download for Windows</a>
<a class="mx-1 my-3 f3 btn btn-large btn-white" href="https://classroom.github.com/assistant/download/linux_deb_64" data-for-os="linux" data-download="linux">Download for Linux</a>
<a class="mx-1 my-3 f3 btn btn-large btn-white" href="https://github.com/education/classroom-assistant/releases/latest" data-for-os="unknownOS">Download Classroom Assistant</a>

<p data-for-os="windows" class="mb-0">
  Download for <a href="https://classroom.github.com/assistant/download/mac" data-download="mac">macOS</a>
  or <a href="https://classroom.github.com/assistant/download/linux_deb_64" data-download="linux">Linux</a>
</p>
<p data-for-os="mac" class="mb-0">
  Download for <a href="https://classroom.github.com/assistant/download/win" data-download="windows">Windows</a>
  or <a href="https://classroom.github.com/assistant/download/linux_deb_64" data-download="linux">Linux</a>
</p>
<p data-for-os="linux" class="mb-0">
  Download for <a href="https://classroom.github.com/assistant/download/mac" data-download="mac">macOS</a>
  or <a href="https://classroom.github.com/assistant/download/win" data-download="windows">Windows</a>
</p>
<p data-for-os="unknownOS" class="mb-0">
  Download for <a href="https://classroom.github.com/assistant/download/mac" data-download="mac">macOS</a>
  , <a href="https://classroom.github.com/assistant/download/win" data-download="windows">Windows</a>
  or <a href="https://classroom.github.com/assistant/download/linux_deb_64" data-download="linux">Linux</a>
</p>
