<div class="remodal video" data-remodal-id="getting-started-video">
  <button data-remodal-action="close" class="remodal-close"><%= octicon 'x' %></button>
  <div class="video-wrapper">
    <iframe id="getting-started" width="100%" height="100%" src="https://www.youtube.com/embed/ChA_zph7aao?rel=0&amp;showinfo=0&amp;enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
