<div class="bg-gray-light">
  <header class="container-md p-responsive">
    <nav class="">
      <ul class="d-flex flex-items-center flex-justify-center flex-md-justify-end f4 list-style-none pt-3">
        <li><%= link_to t('views.shared.sign_in'), login_path, class: 'btn btn-outline' %></li>
      </ul>
  </header>
</div>
