<div class="pb-md-4" style="background: linear-gradient(#fafbfc, #ffffff);">
  <div class="container-lg p-responsive py-5">
    <div class="d-md-flex flex-items-center gutter-md-spacious text-center">

      <div class="col-md-7 text-md-left">
        <p class="f3 text-gray text-mono">GitHub Classroom</p>
        <h2 class="h0-mktg">Automate your course and focus on teaching</h2>
        <p class="f4 text-gray"><%= t('pages.home.signin_section.why_classroom_html') %></p>
        <% unless logged_in? %>
          <%= link_to t('pages.home.signin_section.sign_in_to_start'), login_path, class: 'btn mt-3' %>
        <% end %>
        <%= link_to t('pages.home.signin_section.try_it_out'), "https://classroom.github.com/a/sxCzikek", target: "_blank", class: 'btn mt-3' %>
      </div>

      <div class="col-md-4">
        <%= image_tag('classroom-logo.png', class:"d-none d-md-block width-fit", alt: 'Classroom Logo') %>
      </div>
    </div>
  </div>

</div>
