<div class="hero text-center">
  <div class="container-new px-3 desktop-bg">
    <div class="pb-6">
      <%= image_tag('classroom-logo.png', class:'desktop-logo m-3', alt: 'Classroom-Desktop Logo') %>
      <h1 class="f00-light text-white">
        GitHub Classroom Desktop
      </h1>
      <p class="col-md-8 mx-auto mb-4 f3-light desktop-subtitle">
        GitHub Classroom Desktop lets you archive assignments submitted on GitHub Classroom with a click of a button.
      </p>

      <a class="mx-1 my-3 f3 btn btn-large btn-white" href="https://central.github.com/deployments/desktop/desktop/latest/darwin" data-for-os="mac" data-download="mac">Download for macOS</a>
      <a class="mx-1 my-3 f3 btn btn-large btn-white" href="https://central.github.com/deployments/desktop/desktop/latest/win32" data-for-os="windows" data-download="windows">Download for Windows (64bit)</a>
      <p data-for-os="windows" class="mb-0">
        Download for <a href="https://central.github.com/deployments/desktop/desktop/latest/darwin" data-download="mac">macOS</a>
        or <a href="https://central.github.com/deployments/desktop/desktop/latest/win32?format=msi" data-download="windows">Windows (msi)</a>
      </p>
      <p data-for-os="mac" class="mb-0">
        Download for <a href="https://central.github.com/deployments/desktop/desktop/latest/win32" data-download="windows">Windows</a>
      </p>
      <p>
        By downloading, you agree to the <a href="{{ "/terms/" | relative_url }}">Open Source Applications Terms</a>.
      </p>
    </div>
  </div>
  <div class="d-block width-fit mx-auto mb-6" style="margin-top: 40px">
      <%= image_tag('classroom-desktop-downloading.png', class:'app-screenshot', alt: 'Classroom-Desktop Downloading Screenshot') %>
    </div>
</div>

