<div class="signin-section text-center">
  <div class="container">
    <h1 class="heading">Your course assignments on GitHub</h1>
    <p class="subheading">Automate repository creation and access control, making it easy to distribute starter code and collect assignment submissions on GitHub.</p>
  </div>
</div>

<div class="information-section text-center">
  <div class="container">
    <div class="columns">
      <div class="one-half column text-left">
        <h3 class="feature-heading"><%= mega_octicon('lock') %> Public and private repositories</h3>
        <p>
          Public and private repositories
        </p>
      </div>

      <div class="one-half column text-left">
        <h3 class="feature-heading"><%= mega_octicon('pencil') %> Foobar</h3>
        Public and private repositories
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="one-half column text-left">
        <h3 class="feature-heading"><%= mega_octicon('pencil') %> Foobar</h3>
        Public and private repositories
      </div>

      <div class="one-half column text-left">
        <h3 class="feature-heading"><%= mega_octicon('pencil') %> Foobar</h3>
        Public and private repositories
      </div>
    </div>
  </div>
</div>
