<div class="blankslate">
  <h3>This classroom does not have an invitation setup. Add one now.</h3>
  <%= link_to invite_organization_path, class: 'btn btn-primary', role: 'button' do %>
    <%= octicon('plus') %> Create Invitation
  <% end %>
</div>

