{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/teams/1501923/memberships/tarebytetest","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token \u003c\u003cACCESS_TOKEN\u003e\u003e"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4974"], "X-Ratelimit-Reset":["1432686440"], "Etag":["W/\"7d497bf3908d1cab57140f7be336cf46\""], "X-Oauth-Scopes":["admin:org, repo, user"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJzdGF0ZSI6InBlbmRpbmciLCJ1cmwiOiJodHRwczovL2FwaS5naXRodWIu\nY29tL3RlYW1zLzE1MDE5MjMvbWVtYmVyc2hpcHMvdGFyZWJ5dGV0ZXN0In0=\n"},"http_version":null},"recorded_at":"Tue, 26 May 2015 23:50:06 GMT"}],"recorded_with":"VCR 2.9.3"}