{"http_interactions":[{"request":{"method":"put","uri":"https://api.github.com/teams/1525065/memberships/tarebyte","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Authorization":["token \u003c\u003cACCESS_TOKEN\u003e\u003e"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4999"], "X-Ratelimit-Reset":["1432583149"], "Etag":["W/\"68d143dcf9c32486bccb643eaa722a80\""], "X-Oauth-Scopes":["admin:org, repo, user"], "X-Accepted-Oauth-Scopes":["admin:org, repo"], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"ASCII-8BIT","base64_string":"eyJzdGF0ZSI6ImFjdGl2ZSIsInVybCI6Imh0dHBzOi8vYXBpLmdpdGh1Yi5j\nb20vdGVhbXMvMTUyNTA2NS9tZW1iZXJzaGlwcy90YXJlYnl0ZSJ9\n"},"http_version":null},"recorded_at":"Mon, 25 May 2015 18:45:49 GMT"}],"recorded_with":"VCR 2.9.3"}