{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/user","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Authorization":["token 12345"]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["401 Unauthorized"], "X-Github-Media-Type":["github.v3; format=json"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["27"], "X-Ratelimit-Reset":["1447787293"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiQmFkIGNyZWRlbnRpYWxzIiwiZG9jdW1lbnRhdGlvbl91\ncmwiOiJodHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Tue, 17 Nov 2015 18:44:01 GMT"}],"recorded_with":"VCR 3.0.0"}