<div class="autocomplete-suggestions-container js-autocomplete-suggestions-container" style="display: none;">
  <div class="autocomplete-suggestions-list js-autocomplete-suggestions-list"></div>
</div>
