<div class="autocomplete-suggestions-container" id="autocomplete-suggestions-container" style="display: none;">
  <div id="autocomplete-loading-indicator" class="autocomplete-loading-indicator" style="display: none;"></div>
  <div id="autocomplete-suggestions-list"></div>
</div>
