<div class="autocomplete-suggestions-container js-autocomplete-suggestions-container" style="display: none;">
  <div class="autocomplete-loading-indicator js-autocomplete-loading-indicator" style="display: none;"></div>
  <div class="js-autocomplete-suggestions-list"></div>
</div>
