<li class="clearfix">
  <%= octicon 'repo' %>
  <strong><%= link_to group_assignment_repo.github_repository.full_name, stafftools_group_assignment_repo_path(group_assignment_repo.id) %></strong>
</li>
