<form>
  <dt><label>Give this to your students</label></dt>
  <div class="input-group">
    <%= content_tag :input, '', type: 'text', class: 'js-url-field', value: group_assignment_invitation_url(group_assignment_invitation), readonly: 'readonly' %>
    <span class="input-group-button">
      <button aria-label="Copy to clipboard" class="js-zeroclipboard btn tooltipped tooltipped-s" data-copied-hint="Copied!" type="button">
        <%= octicon('clippy') %>
      </button>
    </span>
  </div>
</form>
