<form>
  <dt class="mobile-invitation-content">
    <label>Give this to your students:
      <span class="css-truncate css-truncate-target">
        <%= link_to group_assignment_invitation_url(group_assignment_invitation), group_assignment_invitation_url(group_assignment_invitation) %>
      </span>
    </label>
  </dt>

  <dt class="desktop-invitation-content"><label>Give this to your students</label></dt>
  <div class="desktop-invitation-content input-group input-block">
    <%= content_tag :input, '', type: 'text', id: "group-assignment-invitation-#{group_assignment_invitation.key}", value: group_assignment_invitation_url(group_assignment_invitation), readonly: 'readonly' %>
    <span class="input-group-button">
      <button aria-label="Copy to clipboard" data-clipboard-target=<%= "#group-assignment-invitation-#{group_assignment_invitation.key}" %> class="js-clipboard btn tooltipped tooltipped-s" type="button">
        <%= octicon('clippy') %>
        Copy invitation link
      </button>
    </span>
  </div>
</form>
