<%= render 'organizations/organization_invitation_banner' %>

<%= hidden_field_tag "group_assignment_setup" %>
<%= hidden_field_tag 'group_id', group.id %>
<%= hidden_field_tag 'group_assignment_id', group_assignment.id %>

<div id="flash-messages" class="flash-messages"></div>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      Your assignment repository is being set up. This might take a while.
    </h2>
  </div>
</div>

<div class="site-content-body ">
  <div class="d-flex flex-justify-between group-setup">
    <div id="create-repo-progress" class="col-6 border rounded-1 Box box-shadow mr-6">
      <div class="Box-row">
        <h4 class="mb-0">Creating repository</h4>
      </div>
      <div class="Box-row">
        <p class="mb-0 alt-text-small text-gray">Waiting</p>
      </div>
      <div class="p-3">
        <span class="progress-bar v-align-middle">
          <span class="progress bg-green" style="width: 0%"></span>
        </span>
      </div>
    </div>
    <div id="import-repo-progress" class="col-6 border rounded-1 Box box-shadow">
      <div class="Box-row">
        <h4 class="mb-0">Importing starter code</h4>
      </div>
      <div class="Box-row">
        <p class="mb-0 alt-text-small text-gray">Waiting</p>
      </div>
      <div class="p-3">
        <span class="progress-bar v-align-middle">
          <span class="progress bg-green" style="width: 0%"></span>
        </span>
      </div>
    </div>
  </div>
  <center>
    <a id="retry-button" class="d-none align-self-center btn mt-4">Retry repository setup</a>
  </center>
</div>
