<%= render 'organizations/organization_invitation_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      Please wait for Repository setup to finish. Do not leave this page.
    </h2>
  </div>
</div>

<div class="site-content-body">
  Progress will be shown here
</div>
