<div class="site-content container-md pt-3">
  <div class="site-content-cap d-flex flex-items-center">
    <div class="assignment-icon assignment-icon-individual">
      <%= octicon 'person', height: 22 %>
    </div>
    <h2 class="site-content-heading text-normal text-gray-dark lh-ultra">
      <strong><%= current_assignment.title %></strong> assignment accepted
    </h2>
  </div>
</div>

<div class="site-content-body container-md">
  <div class="markdown-body text-gray">
    <h2>You’re ready to go!</h2>
    <p class='f4 py-2 lh-default'>Your assignment repository has been created here: <span class='f5 bg-blue-light rounded-1 text-mono no-wrap p-1'><%= link_to current_submission.github_repository.html_url, current_submission.github_repository.html_url %></span></p>
    <p class='f6 pt-2'><strong>Note:</strong> You may receive an email invitation to join <%= link_to "#{organization.github_organization.login}", organization.github_organization.html_url %> on your behalf. No further action is necessary.</p>
  </div>
</div>
