<%= render 'organizations/organization_invitation_banner' %>

<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">
      <span class="assignment-icon assignment-icon-individual">
        <%= octicon('person') %>
      </span>
      Cannot accept the <strong><%= assignment.title %></strong> assignment
    </h2>
  </div>
</div>

<div class="site-content-body">
  <div class="markdown-body">
    <p> This repository no longer exists. It must have been deleted. Contact the instructor for more details. </p>
  </div>
</div>
