.btn-primary {
  @include btn-solid($text-white, #69c387, #519568);
  border-color: #55926a;

  &:hover {
    @include btn-solid($text-white, #5da976, #468059);
    border-color: #477958;
  };
}

.btn-blue {
  @include btn-solid($text-white, #599bcd, #3072b3);
  border-color: #2a65a0;
}

.btn-large {
  border-radius: 3px;
}
