div.desktop-bg {
  background-color: #5fb27b;
  color: rgba(255, 255, 255, 0.65098);

  .btn-large {
    border-radius: 6px;
  }
}

.desktop-logo {
  height: 200px;
}

.desktop-subtitle {
  color: rgba(255, 255, 255, 0.65098);
}

html.mac [data-for-os=windows] {
  display: none !important;
}

html.windows [data-for-os=mac] {
  display: none !important;
}

.desktop-screenshot {
  max-width: 960px;
  & img {
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    margin-bottom: 50px;
  }
}
