.flash-application {
  width: $container-width;
  margin-top: 1rem;
  margin-bottom: -1rem;
  margin-left: auto;
  margin-right: auto;
}

.flash-form {
  width: 100%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
