dl.form {
  margin-top: 0;
  margin-bottom: 2rem;
}

// Override right-floated buttons
.form-actions {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: solid 1px #e3e3e3;

  .btn {
    float: none;
  }
}

