.loading-indicator {
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: " ";
    background: rgba(255, 255, 255, 0.7) image-url("octocat-spinner-128.gif") no-repeat center center;
    background-size: 64px;
    z-index: 999999;
  }
}
