.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity: 0;
  transition: opacity 100ms ease-in;
  pointer-events: none;

  div {
    width: 455px;
    height: 305px;
    position: relative;
    margin: 6% auto;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);

    a > .octicon {
      color: $brand-gray-dark;
      opacity: 0.25;
      padding-top: 3px;

      &:hover {
        opacity: 1;
      }
    }

    .form {
      margin-bottom: 0.8rem;
    }

    hr {
      margin: 15px -15px;
    }
  }
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-header {
  margin: -15px -15px 15px;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
  font-size: 18px;
  font-weight: normal;
}

.modal-description {
  height: 8rem;
  max-height: 5.5rem;
}
