.outline-box {
  padding: 20px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 3px;

  &:first-child {
    margin-top: 1rem;
  }

  h3 {
    margin-top: 0;
  }

  .octicon-x {
    float: right;
    cursor: pointer;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }
}
