.outline-box {
  padding: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  background: #fff;

  h3 {
    margin-top: 0;
  }

  .octicon-x {
    float: right;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
