// scss-lint:disable ImportantRule
html.turbolinks-progress-bar::before {
  height: 2px !important;
  background-color: #77b6ff !important;
  box-shadow: 0 0 10px rgba(#77b6ff, 0.7) !important;
}
// scss-lint:enable ImportantRule
