.status {
  display: inline-block;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;

  .complete-indicator {
    display: none;

    &.active {
      display: initial;
    }
  }
}
