// for autocomplete suggestions

dd.dd-autocomplete-suggestions {
  position: relative;
}

.autocomplete-suggestions-container {
  display: block;

  // coordinates
  position: absolute;
  width: 440px;
  max-width: 100%;
  max-height: 180px;
  top: 2px;
  z-index: 1000;

  // look & feel
  background: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  // behaviors
  overflow-x: hidden;
  overflow-y: scroll;

  // list
  ul {
    list-style: none;

    // item
    li {
      padding: 10px;
      cursor: pointer;

      &.suggestion-focused {
        background-color: $brand-blue;
        color: #fff;
      }
    }
  }

  // octicon
  .octicon {
    vertical-align: text-top;
  }

  .octicon-lock {
    color: #e9dba5;
  }

  // spinner
  .autocomplete-loading-indicator {
    height: 72px;
    background: image-url("octocat-spinner-32.gif") no-repeat center center;
  }
}


// blank status
.autocomplete-suggestions-empty {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;

  > strong {
    color: #bbb;
  }
}
