.help {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
    font-weight: 500;
    border-bottom: none;
    padding-right: 3em;
  }
  h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 3em;
    padding-right: 3em;
  }
  h4 {
    margin-top: 1em;
    display: inline-block;
  }
  img{
    margin: 2em auto;
    max-width: calc(100% - 4em);
    border: 1px solid $border-gray-dark;
  }

  .warning {
    font-weight: normal;
    padding: 1em 2em;
    border: 1px solid $border-yellow;
  }
}
