* {
  box-sizing: border-box;
}

body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f3f4f6;

  &.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

a {
  &:hover {
    text-decoration: none;
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}

main {
  flex: 1;
}

.site-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #ccc;
  background-color: #2f3232;
}

.site-logo {
  width: 230px;
  height: 20px;

  @media (max-width: 34em) {
    margin-bottom: 1rem;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.site-nav {
  float: right;
  margin-top: 0.1rem;
  font-size: 0.9rem;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin-left: 2rem;

      @media (max-width: 34em) {
        margin-left: 0;
      }
    }
  }

  a {
    color: rgba(255, 255, 255, 0.5);

    @media (max-width: 34em) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  a:hover {
    color: rgba(255, 255, 255, 1);
  }

  @media (max-width: 34em) {
    padding-top: 1rem;
    border-top: 0.075rem solid rgba(255, 255, 255, 0.25);
    text-align: center;
    width: 100%;
  }
}

.organization-banner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
  background-color: #5fb27b;

  .btn {
    float: right;
    margin-top: 1.7rem;
  }

  @media (max-width: 34em) {
    padding-left: 1rem;
    padding-right: 1rem;

    .btn {
      display: none;
    }
  }
}

.organization-name {
  margin-bottom: 0;
  font-size: 2.2rem;
  font-weight: normal;

  a {
    color: inherit;
  }

  @media (max-width: 34em) {
    font-size: 1.5rem;
  }
}

.organization-login {
  margin-top: 0.2rem;
  font-size: 1rem;
  opacity: 0.8;

  a {
    color: inherit;
  }
}

.site-content {
  margin-top: 1rem;
}

.site-content-cap {
  padding: 1.5rem 2rem;
  background-color: #fbfbfb;
  border: solid 1px #e3e3e3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  .btn {
    margin-top: -5px;
  }

  @media (max-width: 34em) {
    padding: 1.5rem 1rem;
  }
}

.site-content-body {
  padding: 2rem;
  background-color: #fff;
  border: solid 1px #e3e3e3;
  border-top: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  @media (max-width: 43em) {
    padding: 1rem;
  }
}

.site-content-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  color: #5d666f;
  padding-top: 0.3rem;
}

.assignment-option-name {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
}

.assignment-option-description {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #777;
}

.assignment-icon,
.group-assignment-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.7rem;

  .octicon {
    font-size: 22px;
    line-height: 45px;
  }
}

.assignment-icon-individual {
  color: #555;
  background-color: rgba(216, 216, 216, 0.3);
}

.assignment-icon-group {
  color: #f3f3f3;
  background-color: #555;
}

.assignment-list-items {
  .assignment-list-item:not(:first-child) {
    border-top: 1px solid #e3e3e3;
    margin-top: 1rem;
    padding-top: 1rem;

    @media (max-width: 34em) {
      margin-top: 0.5rem;
      padding-top: 1rem;
    }
  }

  .assignment-list-item:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.assignment-name-link {
  padding-top: 0.4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.assignment-type {
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: 34em) {
    display: inline-block;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
  }
}

.assignment-invite-link {
  float: right;
}

.table-minimal {
  td {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  td:first-child {
    padding-left: 0;
  }
}

hr {
  border-bottom: 1px solid #e3e3e3;
}

.dangerzone-container {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding-bottom: 13px;
}

.invitation-content {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  @media (max-width: 34em) {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.assignment-repo-list {
  .assignment-repo-list-item:not(:first-child) {
    border-top: 1px solid #e3e3e3;
    margin-top: 1rem;
    padding-top: 1rem;

    @media (max-width: 34em) {
      margin-bottom: 0;
    }
  }
}

.assignment-repo-list-item {
  font-size: 14px;

  &.disabled {
    a {
      color: $brand-gray;
    }

    .avatar {
      filter: grayscale(1);
    }
  }

  .avatar {
    margin-right: 10px;

    @media (max-width: 34em) {
      margin-right: 0;
    }
  }

  .css-truncate-target {
    max-width: 20rem;
  }

  .student-login {
    color: $brand-gray-dark;
    display: block;
    padding-top: 4px;

    &:hover {
      color: $brand-blue;
    }
  }
}

.group-assignment-repo-list {
  .group-assignment-repo-list-item:not(:first-child) {
    border-top: 1px solid #e3e3e3;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

.group-assignment-repo-list-item {
  font-size: 14px;

  &.disabled {
    a {
      color: $brand-gray;
    }

    .avatar {
      filter: grayscale(1);
    }
  }

  .css-truncate-target {
    max-width: 20rem;

    @media (max-width: 34em) {
      max-width: 10rem;
    }
  }

  .team-name {
    color: $brand-gray-dark;
    display: block;

    &:hover {
      color: $brand-blue;
    }
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;

      @media (max-width: 34em) {
        margin-left: 0;
      }
    }
  }
}

.organization-list-items {
  .organization-list-item:not(:first-child) {
    border-top: 1px solid #e3e3e3;
    margin-top: 2rem;
    padding-top: 2rem;

    @media (max-width: 34em) {
      margin-top: 1rem;
      padding-top: 1rem;
    }
  }
}

.organization-list-item {
  font-size: 16px;

  .avatar {
    margin-right: 10px;
  }

  .organization-title {
    display: block;
    padding-top: 0.4em;

    &:hover {
      color: $brand-blue;
    }
  }

  .organization-stats {
    vertical-align: inherit;
    font-size: 14px;
    font-weight: bold;
    padding-top: 0.5em;

    .organization-stat-item {
      margin-right: 0.6em;

      .octicon {
        font-size: 16px;
        margin-right: 4px;
      }
    }

    @media (max-width: 34em) {
      display: none;
    }
  }
}

.site-footer {
  margin-top: 1em;
  margin-bottom: 1em;
}

.desktop-invitation-content,
.settings,
.student-information,
.zeroclipboard-form {
  @media (max-width: 34em) {
    display: none;
  }
}

.mobile-invitation-content {
  display: none;

  @media (max-width: 34em) {
    display: block;
  }
}

.blankslate.spacious {
  @media (max-width: 34em) {
    padding: 1rem 0;
  }
}

.signin-section {
  background-color: #5fb27b;
  padding-top: 6.154em;
  padding-bottom: 6.154em;
  color: #fff;
  margin-bottom: 3em;

  .heading {
    font-size: 48px;
    font-weight: normal;

    @media (max-width: 34em) {
      font-size: 38px;
    }
  }

  .subheading {
    font-size: 21px;
    margin-bottom: 2rem;

    @media (max-width: 34em) {
      font-size: 18px;
    }
  }

  a {
    font-weight: normal;
  }

  .mega-octicon {
    font-size: 38px;
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin-left: 2rem;
      opacity: 0.4;

      @media (max-width: 34em) {
        display: none;
      }
    }
  }
}

.information-section {
  h2 {
    font-size: 21px;
    font-weight: normal;
  }

  p {
    padding-right: 0.5rem;
    font-size: 16px;
  }

  .mega-octicon {
    font-size: 21px;
  }
}
