* {
  box-sizing: border-box;
}

body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f3f4f6;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.site-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #ccc;
  background-color: #2f3232;
}

.site-logo {
  width: 251px;
  height: 21px;
}

.site-nav {
  float: right;
  margin-top: 0.1rem;
  font-size: 1rem;

  a {
    margin-left: 2rem;
    color: rgba(255, 255, 255, 0.5);
  }

  a:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.site-content {
  margin-top: 1rem;
}

.site-content-cap {
  padding: 1.5rem 2rem;
  background-color: #fbfbfb;
  border: solid 1px #e3e3e3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.site-content-body {
  padding: 2rem;
  background-color: #fff;
  border: solid 1px #e3e3e3;
  border-top: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.site-content-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  color: #5d666f;
}

/***************************************************/
/***************************************************/
/***************************************************/

.container {
  width: auto;
  max-width: 980px;
  padding-right: 20px;
  padding-left: 20px;
}

// Column widths
.one-third {
  width: 33.333333%;

  @media (max-width: 43em) {
    width: 100%;
  }
}

.two-thirds {
  width: 66.666667%;

  @media (max-width: 43em) {
    width: 100%;
  }
}

.one-fourth {
  width: 25%;

  @media (max-width: 43em) {
    width: 100%;
  }
}

.one-half {
  width: 50%;

  @media (max-width: 43em) {
    width: 100%;
  }
}

.three-fourths {
  width: 75%;

  @media (max-width: 43em) {
    width: 100%;
  }
}

.one-fifth {
  width: 20%;

  @media (max-width: 43em) {
    width: 100%;
  }
}

.four-fifths {
  width: 80%;

  @media (max-width: 43em) {
    width: 100%;
  }
}

