//
// Variables
// ----------------------

$gray: #333;
$gray-light: #aaa;
$gray-lighter: #eee;
$space: 40px;
$blue: #428bca;
$blue-dark: darken($blue, 5%);

//
// Modal
// ----------------------

.modal{

  // This is modal bg
  &:before{
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 10;
  }

  &:target{
    // Active animate in modal
    &:before{
      display: block;
    }
    .modal-dialog{
      transform: translate(0,0);
      top: 20%;
    }

  }

}

// Modal Dialog
// ----------------------

.modal-dialog{
  background: #fefefe;
  border: $gray solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: auto;
  max-width: 455px;
  transform: translate(0, -500%);
  transition: 1s ease-out;
}

.modal-body{
  padding: $space/2;
}

.modal-header,
.modal-footer{
  padding: $space/4 $space/2;
}

.modal-header{
  border-bottom: $gray-lighter solid 1px;

  h2{
    font-size: 20px;
  }

}

.modal-footer{
  border-top: $gray-lighter solid 1px;
  text-align: center;
}

.modal-warning {
  background-color: #f8eec7;
  border: 1px solid #f2e09a;
  color: #796620;
  padding-left: 20px;
}

/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none;
}

.btn-close {
  color: $brand-gray-light;

  &:hover {
    transition: color 0.25s ease-in;
    color: $brand-gray-dark;
  }
}
