<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Create a new Team</h3>
  </div>
  <div class="panel-body">
    <% url = add_students_team_organization_path(@organization) %>
    <%= form_for @organization, url: url do |f| %>
      <dl class="form">
        <dt><label>Team Name</label></dt>
        <dd><%= f.text_field :title, class: 'textfield', value: 'Students' %></dd>
      </dl>

      <div class="form-actions left">
        <%= f.submit 'Create Team', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
