<div class="organization-select-target disabled tooltipped tooltipped-s" aria-label="<%= t('views.organizations.you_are_not_owner') %>">
  <%= image_tag "https://avatars.githubusercontent.com/u/#{org[:github_id]}?v=3&size=200", class: 'avatar organization-select-avatar', width: 100, height: 100, alt: "@#{org[:login]}" %>
  <span class="organization css-truncate css-truncate-target" title=<%= "@#{org[:login]}" %>><%= "@#{org[:login]}" %></span>
</div>
