<li class="clearfix">
  <a class="btn btn-sm right" href="#">Edit</a>
  <%= octicon 'organization' %>
  <strong><%= link_to grouping.title, organization_grouping_path(@organization, grouping.id) %></strong>
</li>
