<li class="clearfix">
  <a class="btn btn-sm right" href="#">Edit</a>
  <span class="octicon octicon-organization"></span>
  <strong><%= link_to grouping.title, stafftools_grouping_path(grouping.id) %></strong>
</li>
