<li class="clearfix">
  <%= link_to t('views.organizations.edit'), edit_organization_grouping_path(current_organization, grouping), class: 'btn btn-sm right' %>
  <%= octicon 'organization' %>
  <strong><%= link_to grouping.title, organization_grouping_path(current_organization, grouping) %></strong>
</li>
