<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Choose and Existing Team</h3>
  </div>
  <div class="panel-body">
    <%= form_for @invitation, url: organization_invitations_path(@organization) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <dl class="form">
        <dd><label>Team</label></dd>
        <dt><%= select :invitation, :team_id, options_for_select(@teams) %></dt>
      </dl>

      <div class="form-actions left">
        <%= f.submit 'Use Team', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
