<div>
  <p>You are currently not connected to any Learning Management System.<p>
  <p>Connect GitHub Classroom to a Learning Management System to easily manage your roster.</p>
  <%= render partial: 'lms_buttons' %>
</div>
