<% content_for :organization_banner do %>
  <div class="organization-banner">
    <div class="container">
      <%= link_to 'Settings', edit_organization_path(@organization), class: 'btn btn-green' %>
      <h1 class="organization-name"><%= link_to @organization.title, @organization %></h1>
      <p class="organization-login"><%= link_to "@#{@organization.github_login}", @organization.github_url %></p>
    </div>
  </div>
<% end %>
