<div id="openResetOrganizationModal" class="modal">
  <div>
    <a href="#close" title="Close" class="close js-close right"><%= octicon('x') %></a>
    <h2 class="modal-header text-left">Are you sure you want to reset your organization?</h2>

    <p class="modal-description">
      More text here and things here
    </p>

    <hr>

    <%= form_for @organization, html: { "data-organization-name" => @organization.title, method: 'delete' } do |f| %>
      <dl class="form js-normalize-submit">
        <dt><label>Enter this organization’s name to confirm</label></dt>
        <dd><input type="text" class="js-input-block"></dd>
      </dl>

      <%= f.submit 'Reset this organization', class: 'btn btn-danger btn-block js-navigation js-btn-close', disabled: true %>
    <% end %>
  </div>
</div>
