<div class="remodal text-left" data-remodal-id="reset-and-remove-organization">
  <button data-remodal-action="close" class="remodal-close"><%= octicon('x') %></button>
  <h2 class="remodal-header">Are you ABSOLUTELY sure?</h2>

  <div class="remodal-warning">
    Unexpected things will happen if you don't read this!
  </div>

  <div class="remodal-description">
    <p>
      This action <strong>CANNOT</strong> be undone.
      Please note that reseting and removing this classroom will delete all repositories and teams under the <strong><%= organization.login %></strong> account that were created by Classroom for GitHub.
    </p>
  </div>

  <%= form_for @organization, html: { "data-name" => organization.login, method: 'delete' } do |f| %>
    <dl class="form js-normalize-submit">
      <dt>Please type the name of the organization to confirm</dt>
      <dd><input type="text" class="js-input-block"></dd>
    </dl>

    <%= f.submit 'Reset and remove this classroom', class: 'btn btn-danger btn-block js-navigation js-submit', disabled: true %>
  <% end %>
</div>
