<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Choose and Existing Team</h3>
  </div>
  <div class="panel-body">
    <% url = add_students_team_organization_path(@organization) %>
    <%= form_for @organization, url: url do |f| %>
      <dl class="form">
        <dd><label>Team</label></dd>
        <dt><%= select :organization, :students_team_id, options_for_select(@teams) %></dt>
      </dl>

      <div class="form-actions left">
        <%= f.submit 'Use Team', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
