<nav class="menu">
  <span class="menu-heading">Classroom settings</span>
  <%= link_to edit_organization_path, class: "menu-item #{'selected' if request.fullpath == edit_organization_path}" do %>
      Classroom profile
  <% end %>
  <%= link_to settings_invitations_organization_path(@organization), class: "menu-item #{'selected' if request.fullpath == settings_invitations_organization_path}" do %>
      Invite others
  <% end %>
</nav>
