<div class="site-content">
  <div class="site-content-cap">
    <%= link_to new_organization_path, class: 'btn btn-green right js-new-classroom-btn', style: 'display: none;', role: 'button' do %>
      New classroom
    <% end %>
    <div>
      <h2 class="site-content-heading inline">Classrooms</h2>
      <% if @organizations.present? %>
        <span class="tiny-loading-indicator js-tiny-loading-indicator"></span>
      <% end %>
    </div>
  </div>

  <div class="site-content-body organization-list-items js-organization-list"
       data-ajax-load-path="/classrooms/user-organizations?page=<%= params[:page] %>">
    <% if @organizations.present? %>
      <%= render @organizations %>
      <%= render partial: 'shared/pagination', locals: { collection: @organizations } %>
    <% else %>
      <div class="content-loading-indicator"></div>
    <% end %>
  </div>
</div>
