<div class="remodal-bg">
  <%= render 'organizations/organization_banner', settings: true %>

  <div class="container-lg p-responsive">
    <div class="d-md-flex flex-items-center flex-justify-between mt-5 mb-3">
      <div class="d-md-flex gutter-md col-md-12">
        <div class="col-md-3 text-mono text-normal p-5 h3">
          Classroom admins
        </div>

        <%= render partial: 'organizations/organization_users' %>
      </div>
    </div>

    <div class="d-md-flex flex-items-center flex-justify-between mt-5 mb-3">
      <div class="d-md-flex gutter-md">
        <div class="col-md-3 text-mono text-normal p-5 h3">
          Invite admins
        </div>

        <%= render partial: 'organizations/invite_users' %>
      </div>
    </div>
  </div>
</div>
