<div class="remodal-bg">
  <%= render 'organizations/organization_banner' %>
  <div class="columns">
    <div class="one-fourth column">
      <%= render partial: 'organizations/side_menu' %>
    </div>
    <div class="three-fourths column">
      <%= render partial: 'organizations/organization_users' %>
      <%= render partial: 'organizations/invite_users' %>
    </div>
  </div>
</div>
