<div class="site-content">
  <div class="site-content-cap">
    <h2 class="site-content-heading">Name your classroom</h2>
  </div>

  <div class="site-content-body">
    <%= form_for @organization, url: { action: :setup_organization } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="columns">
        <div class="two-thirds column">
          <dl class="form">
            <dt><label>Please give your classroom a more descriptive name</label></dt>
            <dd><%= f.text_field :title, class: 'textfield form-control input-contrast input-block', placeholder: 'Please give your classroom a more descriptive name' %></dd>
          </dl>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'Continue', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
