<h1 class="page-header">
  <%= @organization.login %>
</h1>

<%= link_to 'Remove Classroom', @organization, class: 'btn btn-sm btn-danger', role: 'button',
  method: :delete, data: { confirm: 'Are you sure you want to remove your classroom?' } %>
