<h1 class="page-header">
  <%= @organization.title %>
  <%= link_to 'Edit', edit_organization_path, class: 'lead' %>
</h1>

<%= link_to 'Team Invitations', organization_invitations_path(@organization) %>
