<label class="d-block mb-1"><%= t('views.shared.give_this_to_students') %></label>
<div class="desktop-invitation-content">
  <%= render partial: "shared/invitations/clipboard_form", locals: local_assigns %>
</div>
