<dt class="desktop-invitation-content"><label><%= t('views.shared.give_this_to_students') %></label></dt>
<div class="desktop-invitation-content input-group input-block">
  <%= render partial: "shared/invitations/clipboard_form", locals: local_assigns %>
</div>
