<dt class="mobile-invitation-content">
  <label><%= t('views.shared.give_this_to_students') %>:
    <span class="css-truncate css-truncate-target">
      <%= link_to url, url %>
    </span>
  </label>
</dt>
