<include-fragment src="<%= url %>", class="flex-table assignment-repo-list-item">
  <div class="flex-table-item text-center">
    <%= image_tag 'octocat-spinner-128.gif', width: 43, height: 43, class: 'spinner' %>
    <%= octicon 'alert', height: 43, class: 'octicon-alert' %>
  </div>
</include-fragment>
